.navbar {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	z-index: 2;
	color: white;
	background-color: black;
	align-items: center;
}

.home-link {
	text-decoration: none;
}

.logo {
	height: 100%;
	font-size: 32px;
	font-family: "El Messiri", sans-serif;
	color: white;
	text-decoration: none;
	/* padding-left: 80px; */
}

.button-container {
	display: flex;
	align-items: center;
	height: 100%;
	/* padding: 40px; */
	text-align: center;
}

.login-btn {
	font-family: "Bona Nova", serif;
	/* margin-right: 80px; */
	/* padding: 10px 20px; */
	border: none;
	font-size: 24px;
	background-color: black;
	outline: none;
	color: white;
	font-weight: 600;
	cursor: pointer;
}

.login-btn:hover {
	font-size: 27px;
	transition: all 0.3s;
}
